[Desktop Entry]
Name=NM GUI
Comment=GTK4-based Network Manager GUI using nmcli
Exec=nmgui
Icon=network-wireless-symbolic
Terminal=false
Type=Application
Categories=Network;GTK;
StartupNotify=true
